unified-Schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.acmebicycle.com" xmlns="http://www.acmebicycle.com" elementFormDefault="qualified">
	<xs:element name="bikeList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="brand" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="manufacturer" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="model" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="price" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="year" type="xs:integer" minOccurs="1" maxOccurs="1"/>
										<xs:element name="frame" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="material" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element name="size" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="fork" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="material" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="components" type="xs:string" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="rating" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="max" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element name="current" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element name="votes" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>